In [ ]:
pip install pandas

In [ ]:
pip show pandas

In [4]:
import pandas as pd

In [6]:
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [20]:
df[(df['Age'] > 25) & (df['City'] != 'San Francisco')]

      Name  Age         City
2  Charlie   35  Los Angeles
3    David   28      Chicago